:root {
  --primary: #3a6c52;
  --secundary: #004034;
  --other: #ccc;
  --white: #f0f0f0;
  --btnEdit: #007d78;
  --teal: #4db6ac;
  --blue: #42a5f5;
  --red: #ef5350;
  --yellow: #ffa000;
}

/* Botón para ir al dashboard. */
.close {
  cursor: pointer;
}


/* MODULO AREAS */
.contentModulos {
  grid-template-areas:
    "breadCrumbs breadCrumbs"
    "titleModulos titleModulos"
    "contentFormModulos contentTableModulos";
  height: fit-content;
  width: 100%;
}

.breadCrumbs {
  grid-area: breadCrumbs;
}

.titleModulos {
  grid-area: titleModulos;
  width: 100%;
}


.contentFormModulos {
  grid-area: contentFormModulos;
  width: 100%;

  .contentRoute {
    display: flex;
    gap: 0.3rem;
    flex-direction: row;
    flex-wrap: nowrap;
  }

}

.contentTableModulos {
  grid-area: contentTableModulos;
  width: 100%;
  overflow-y: auto;
  height: auto;
}

.modalContentModulos {
  background-color: var(--white);
  margin: 10% auto;
  /* 15% from the top and centered */
  padding: 20px;
  width: 30%;
  height: fit-content;
  display: grid;
  grid-template-areas:
    "titleSection"
    "formUpdate";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.titleSection {
  grid-area: titleSection;
}

.formUpdate {
  grid-area: formUpdate;
}