:root {
  --primary: #3a6c52;
  --secundary: #004034;
  --other: #ccc;
  --white: #f0f0f0;
  --btnEdit: #007D78;
  --teal: #4db6ac;
  --blue: #42a5f5;
  --red: #ef5350;
}

/* Botón para ir al dashboard. */
.close {
  cursor: pointer;
}

/* ------- */
/* MODULO AREAS */
.contentArea {
  grid-template-areas:
    "titleArea titleArea"
    "formAr tblAreas";
}

.titleArea {
  grid-area: titleArea;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.textTitleSpan {
  font-size: 20pt;
}

.formAr {
  grid-area: formAr;
  width: 100%;
  height: 25vh;
}

#formArea {
  grid-template-areas:
    "contentAreaNem"
    "contentDescript"
    "contentSubmit";
}

#ar_nombre {
  width: 100%;
}

/* Acceder a los hijos el formulario */

#formArea>div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

#formArea>div:nth-child(3) {
  text-align: center;
}

#btnAreaSend {
  background-color: var(--blue);
  color: white;
  border: 1px;
  border-radius: 10px;
  width: auto;
}

.contentAreaNem {
  grid-area: contentAreaNem;
}

.contentDescript {
  grid-area: contentDescript;
}

.contentDescript #descripcionArea {
  width: 100%;
  resize: none;
  height: 10rem;
}

.contentSubmit {
  grid-area: contentSubmit;
}

.tblAreas {
  grid-area: tblAreas;
}

#tableConfigMarca,
#tableConfigArea,
#tableConfigTp {
  width: 100%;
}

#tableBodyArea tr td:last-child {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

#btnAreaUpdate {
  width: fit-content;
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
}



.modalContentArea {
  background-color: var(--white);
  margin: 10% auto;
  /* 15% from the top and centered */
  padding: 20px;
  width: 30%;
  height: fit-content;
  display: grid;
  grid-template-areas:
    "titleSection"
    "formUpdate";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.titleSection {
  width: 100%;
  grid-area: titleSection;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--secundary);
  /* border-bottom: 1px solid var(--secundary); */
  padding: 1rem 1.5rem;
  border-radius: 8px 8px 0 0;
  align-items: center;
  color: var(--white);
}

.closeModalBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: var(--white);
  padding: 0.3rem;
  line-height: 1;
}

.formUpdate {
  grid-area: formUpdate;
  width: 100%;
}

#areaUpdateForm>div:nth-child(1),
#areaUpdateForm>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

/* Corresponde al botón. */
#areaUpdateForm>div:nth-child(3) {
  text-align: center;
  width: 100%;
  gap: 0.5rem;
  margin-top: 0.2rem;
}

#areaUpdateForm {
  grid-template-areas:
    "arNombreUpdate"
    "arDescripUpdate"
    "arBtnUpdate";
  gap: 0rem;
  margin-top: 0.3rem;
}

/* Input descripcion */
#descripcionAreaUpdate {
  resize: none;
  height: 8vh;
  padding: 0.3rem;
}