.close {
  cursor: pointer;
}

.contentArea {
  width: 100%;
  height: inherit;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 0.3rem;

  .formAr {
    border: 1px solid var(--teal);
    border-radius: 8px;
    padding: 0.2rem;
    width: 100%;
    height: 350px;

    #formArea {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      .contentSubmit {
        display: flex;
        justify-content: center;
      }
    }
  }

  /* tabla */
  .tblAreas {
    overflow-y: auto;

    #tableBodyArea {

      .btnArea {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 0.3rem;

        /* tamaño de los iconos del botón */
        i {
          font-size: 18pt;
        }
      }
    }
  }

}




/* POR DEFECTO, SE USA MOBILE. */


/* TABLETS */
@media (min-width: 768px) {
  body {
    font-size: 1.1rem;
  }
}

/* ESTILO PARA ESCRITORIO */
@media (min-width: 1024px) {
  .close {
    cursor: pointer;
  }

  .contentArea {
    display: grid;
    grid-template-areas:
      "headerContent headerContent"
      "formAr tblAreas";
    height: fit-content;

    .headerContent {
      grid-area: headerContent;

      .titleArea {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }

    .formAr {
      width: 100%;
      grid-area: formAr;

      #formArea {
        #btnAreaSend {
          background-color: var(--btnEdit);
          color: white;
          border: 1px;
          border-radius: 4px;
          width: auto;
        }

        .contentAreaNem {
          grid-area: contentAreaNem;
        }

        .contentDescript {
          grid-area: contentDescript;
        }

        .contentDescript #descripcionArea {
          width: 100%;
          resize: none;
          height: 10rem;
        }

        .contentSubmit {
          grid-area: contentSubmit;
        }
      }
    }

    .tblAreas {
      width: 100%;
      grid-area: tblAreas;
      height: fit-content;


      #tableBodyArea tr td:last-child {
        display: flex;
        flex-direction: row;
        gap: 0.6rem;
      }

      #tableConfigArea th,
      #tableConfigArea td {
        /* Esconde lo que se salga */
        overflow: hidden;
        /* Agrega los tres puntos (...) si el texto es muy largo */
        text-overflow: ellipsis;
        /* Evita que el texto salte de línea rompiendo el alto (Opcional) */
        white-space: nowrap;
      }
    }
  }

}

.modalContentArea {
  background-color: var(--white);
  margin: 10% auto;
  /* 15% from the top and centered */
  padding: 20px;
  width: 30%;
  height: fit-content;
  display: grid;
  grid-template-areas:
    "titleSection"
    "formUpdate";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.titleSection {
  width: 100%;
  grid-area: titleSection;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--secundary);
  /* border-bottom: 1px solid var(--secundary); */
  padding: 1rem 1.5rem;
  border-radius: 8px 8px 0 0;
  align-items: center;
  color: var(--white);
}

.closeModalBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: var(--white);
  padding: 0.3rem;
  line-height: 1;
}

.formUpdate {
  grid-area: formUpdate;
  width: 100%;
}

#btnAreaUpdate {
  width: fit-content;
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
}

#areaUpdateForm>div:nth-child(1),
#areaUpdateForm>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

/* Corresponde al botón. */
#areaUpdateForm>div:nth-child(3) {
  text-align: center;
  width: 100%;
  gap: 0.5rem;
  margin-top: 0.2rem;
}

#areaUpdateForm {
  grid-template-areas:
    "arNombreUpdate"
    "arDescripUpdate"
    "arBtnUpdate";
  gap: 0rem;
  margin-top: 0.3rem;
}

/* Input descripcion */
#descripcionAreaUpdate {
  resize: none;
  height: 8vh;
  padding: 0.3rem;
}