:root {
  --primary: #1e90ff;
  --secundary: #2c5e42;
  --btnSubmit: #80ff005e;
  --btnInfo: #008000;
  --other: #808080;
  --white: #ffffff;
}

/* Estructura General de todas las tablas.. */
.contentLayout {
  width: 100%;
  height: 85vh;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr;
  gap: 1.5rem;
}

/* Estructura general del layout del formulario. */
.formLayout {
  display: grid;
  gap: 0.3rem;
  grid-template-columns: 1fr;
  grid-template-rows: 5vh 1fr;
  width: 100%;
}

/* Esta estructura menu corresponde al titulo  */
.menuTitle {
  width: 100%;
}

/* Botón para ir al dashboard. */
.close {
  cursor: pointer;
}

.contentRoles{
  grid-template-areas:
    "titleRoles titleRoles"
    "formRl tblRoles";
}

.titleRoles{
    grid-area: titleRoles;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.formRl{
    grid-area: formRl;
}

.formRl #rol_descripcionInput{
    width: 100%;
    resize: none;
    height: 10rem;
}

#formRol{
    grid-template-areas: "contentRlNombre"
    "contentRlDescript"
    "contentRlBtn";
}

.contentRlDescript{
    grid-area: contentRlDescript;
}

.contentRlNombre{
    grid-area: contentRlNombre;
}

.contentRlBtn{
    grid-area: contentRlBtn;
    text-align: center;
}

#formRol div > :nth-child(1), #formRol div > :nth-child(2){
    gap: 0.5rem;
}

#formRol div > :nth-child(3){
    text-align: center;
}

.tblRoles{
    grid-area: tblRoles;
}