:root {
  --primary: #3a6c52;
  --secundary: #004034;
  --btnSubmit : rgba(128, 255, 0, 0.371);
  --btnInfo : green;
  --other: gray;
  --white: #f0f0f0;
}

/* Botón para ir al dashboard. */
.close {
  cursor: pointer;
}

.contentRoles{
  grid-template-areas:
    "titleRoles titleRoles"
    "formRl tblRoles";
}

.titleRoles{
    grid-area: titleRoles;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.formRl{
    grid-area: formRl;
}

.formRl #rol_descripcionInput{
    width: 100%;
    resize: none;
    height: 10rem;
}

#formRol{
    grid-template-areas: "contentRlNombre"
    "contentRlDescript"
    "contentRlBtn";
}

.contentRlDescript{
    grid-area: contentRlDescript;
}

.contentRlNombre{
    grid-area: contentRlNombre;
}

.contentRlBtn{
    grid-area: contentRlBtn;
    text-align: center;
}

#formRol div > :nth-child(1), #formRol div > :nth-child(2){
    gap: 0.5rem;
}

#formRol div > :nth-child(3){
    text-align: center;
}

.tblRoles{
    grid-area: tblRoles;
}

.tblRoles table{
    width: 100%;
}

.tblRoles table {
    width: 100%;
}

/* Ajustar los botones de acciones */
.tblRoles table td:last-child {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    justify-content: center;
}
