:root {
  --primary: #3a6c52;
  --secundary: #004034;
  --other: #ccc;
  --white: #f0f0f0;
  --btnEdit: #007d78;
  --teal: #4db6ac;
  --blue: #42a5f5;
  --red: #ef5350;
}

/* Botón para ir al dashboard. */
.close {
  cursor: pointer;
}

.contentRoles {
  grid-template-areas:
    "titleRoles titleRoles"
    "formRl tblRoles";
}

.titleRoles {
  grid-area: titleRoles;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* .titleRoles{
    width: 100%;
    grid-area: titleRoles;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 1rem 1.5rem;
    border-radius: 8px 8px 0 0;
    align-items: center;
    color: var(--white);
} */

.formRl {
  grid-area: formRl;
}

.formRl #rol_descripcionInput {
  width: 100%;
  resize: none;
  height: 10rem;
}

#formRol {
  grid-template-areas:
    "contentRlNombre"
    "contentRlDescript"
    "contentRlBtn";
}

.contentRlDescript {
  grid-area: contentRlDescript;
}

.contentRlNombre {
  grid-area: contentRlNombre;
}

.contentRlBtn {
  grid-area: contentRlBtn;
  text-align: center;
}

#formRol div > :nth-child(1),
#formRol div > :nth-child(2) {
  gap: 0.5rem;
}

#formRol div > :nth-child(3) {
  text-align: center;
}

.tblRoles {
  grid-area: tblRoles;
}

.tblRoles table {
  width: 100%;
}

.tblRoles table {
  width: 100%;
}

/* Ajustar los botones de acciones */
.tblRoles table td:last-child {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  justify-content: center;
}

#modalEditar {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  /* background-color: rgb(0, 0, 0); */
  /* Fallback color */
  /* Black w/ opacity */
}

.modal.hidden {
  display: none !important;
}

.modal-contenido {
  background-color: var(--white);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: fit-content;
  display: grid;
  grid-template-areas:
    "titleSection"
    "formRol";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.titleSection {
  width: 100%;
  grid-area: titleSection;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--secundary);
  padding: 1rem 1.5rem;
  border-radius: 8px 8px 0 0;
  align-items: center;
  color: var(--white);
}

.formRol {
  grid-area: formRol;
}

#formEditarRol > div:last-child {
  display: flex;
  justify-content: center;
}

.cerrar {
  justify-self: end;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  user-select: none;
  transition: color 0.3s ease;
}

.closeModalBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: var(--white);
  padding: 0.3rem;
  line-height: 1;
}

/* Botón del formulario de actualización */
.btnSubmit {
  background-color: var(--blue);
  color: var(--secundary);
}

.cerrar:hover {
  color: #e74c3c;
}

.btnEditar {
  background-color: var(--blue);
  color: var(--white);
}

.btnSubmitRol {
  color: var(--secundary);
  background-color: var(--blue);
}

#asigPermisosContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.3rem;

  .modulo {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 0.3rem;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
  }
}
