.content {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.dashboard-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  width: 100%;
  box-sizing: border-box;
}

.option-card {
  background: #f5f5f5;
  /* width: 100% !important; */
  border-radius: 10px;
  padding: 5px;
  flex: 1 1 calc(50% - 10px); 
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.option-card:hover {
  transform: translateY(-5px);
}

a.btn {
  margin: 6px 4px;
}
