:root {
  --primary: #3a6c52;
  --secundary: #004034;
  --other: #ccc;
  --white: #f0f0f0;
  --btnEdit: #007D78;
  --teal :#4db6ac;
  --blue: #42a5f5;
  --red: #ef5350;
  --info: #e57373;
  --success: #3a6c52;
  --warning: #fb8c00;
  --error: #b71c1c;
  --error2: #e57373;
  --btnProcess: #4CAF50 ;
}


.content {
    background-color: #f9f9f9;
    padding: 2rem;
    width: 100%;
  }

  .card-filtros {
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  h4.center-align {
    margin-bottom: 30px;
    font-weight: bold;
    color: #2c3e50;
  }

  #btnDescargar, #btnDescargarTrazabilidad, #btnDescargarMovimientoPlaca{
    background-color: var(--btnProcess);
    color: var(--white);
  }

  .btn {
    margin-top: 20px;
  }

  .striped thead {
    background-color: var(--btnEdit) !important;
    color: var(--white) !important;
  }

  .striped tbody tr:hover {
    background-color: #e3f2fd;
  }

  .pagination li.active {
    background-color: var(--btnProcess);
  }

  .page {
    margin-top: 20px;
  }