:root {
  --secundary: #004034;
}

.content {
  display: grid;
  width: 100%;
  /* evito desbordamiento */
  min-height: 0;
  max-height: 100%;
  padding: 1.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 100%;
  grid-template-areas:
    "menuTitle"
    "searchUser"
    "solicPrestamos";
}

/* Areas del content */
.menuTitle {
  grid-area: menuTitle;
}

.searchUser {
  background-color: green;
  grid-area: searchUser;
  min-height: 0;
  height: 3rem;
}

.solicPrestamos {
  grid-area: solicPrestamos;
  overflow: auto;
  min-height: 0;
  display: flex;
    flex-direction: column;
}

/* Bloque del menu del modulo */
.menuTitle {
  display: inline-block;
  width: 100%;
  align-self: start;
  justify-self: start;
  height: auto;
  display: flex;
  justify-content: space-between;
}

#textTitle {
  font-size: 2rem;
}

/* Formulario */
#formSolicitudPrestamo {
  display: grid;
  grid-template-areas:
    "cedula nombre apellido"
    "telefono email areaDestino"
    "fechaReserva fechaDevolucion horaInicioFin"
    ". inputObservaciones ."
    "tableElements tableElements tableElements"
    ". inputBtn .";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto) 1fr auto;
  gap: 1rem;
  overflow: auto; /* Para permitir scroll si es necesario */
  min-height: 0;  /* Clave */
}

/* Areas del formulario */
.cedula {
  grid-area: cedula;
}
.nombre {
  grid-area: nombre;
}
.apellido {
  grid-area: apellido;
}
.telefono {
  grid-area: telefono;
}
.email {
  grid-area: email;
}
.areaDestino {
  grid-area: areaDestino;
}
.fechaReserva {
  grid-area: fechaReserva;
}
.horaInicioFin {
  grid-area: horaInicioFin;
}
.fechaDevolucion {
  grid-area: fechaDevolucion;
}
.inputObservaciones {
  grid-area: inputObservaciones;
}

.tableElements {
  grid-area: tableElements;
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

#observaciones {
  resize: none;
  width: 100%;
  height: 50px;
}

.tableElmDevolutivos {
  grid-area: tableElmDevolutivos;
}
.tablaElmConsumible {
  grid-area: tablaElmConsumible;
}

.inputContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 0;
  /* su tamaño mínimo va a ser 0. */
  min-width: 0;
}

.labelForm {
  font-size: 1.3rem;
  margin-top: 0.3rem;
  border-radius: 10px;
  height: 2rem;
}

.inputForm {
  /* width: 100%; */
  max-width: 100%;
  min-width: 0;
  height: 2rem;
  border: none;
  border-bottom: 2px solid #ccc;
  border-right: none;
}

/* TODO: Agregar efecto focus cuando presione el input al cual voy a usar */
.inputForm:focus {
  outline: none;
  border: 2px solid #007bff;
}

/* Estilos de la tabla */
table {
  width: 100%;
  max-width: 100%;
  /* TODO: buscar que es esto. */
  table-layout: auto;
  word-wrap: break-word;
}

td,
th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

/* Boton */
.inputBtn {
  display: grid;
  grid-area: inputBtn;
  width: 100%;
  justify-items: center;
  min-height: 3rem;
}

/* Campo de busqueda */

/* Estilos del modal */
#modalAddElements,
#modalUsers {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  width: 50%;
  height: fit-content;
}

.close {
  cursor: pointer;
  width: 1.8rem;
}

#modalAddElements legend {
  font-size: 1rem;
}

#modal-title {
  background-color: var(--secundary);
  color: white;
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-radius: 8px 8px 0 0;
}

#modal-title #modalTitle {
  font-size: 2rem;
  font-weight: bold;
}

#modal-title button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: white;
  padding: 0.3rem;
  line-height: 1;
}

#modal-title .close {
  font-size: 2rem;
  color: white;
}

/* Botones previo y next de las tablas */
.buttons {
  display: flex;
  justify-content: space-between;
}
