/* 
Este documento contiene todos los estilos que se repiten sus componentes, como botones, Tablas, menus, entre otros.
*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html, body {
  height: 100%;
  margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Variables para los colores */
:root {
  --primary: #3a6c52;
  --secundary: #004034;
  --btnInfo : green;
  --other: #ccc;
  --white: #f0f0f0;
}


/* Estilo de header, corresponde al titulo que está en la parte de arriba. */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  color: var(--white);
  font-weight: 700;
  font-size: 1.8rem;
  padding: 20px 0;
  height: 10vh;
  text-align: center;
  font-family: "Segoe UI", Roboto, Oxygen, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  user-select: none;
  background-color: #2c5e42;
}


.container{
  display: flex;
  width: 90%;
  height: 80vh;
  margin: 0 auto;
  position: relative;
  top: calc(100vh - 90vh);
  overflow: visible;
  border: 1px solid black;
  padding: 0.5rem;


    /* Borde estético */
  border: 1px solid var(--other);
  border-radius: 8px;

  /* Sombra sutil */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  /* Fondo opcional */
  background-color: #fff;

}

.container * {
  max-width: 100%;
  box-sizing: border-box;
}

/* Botón de cerrar */
.close-btn{
  border: none;
  text-decoration: none;
  font-size: 2rem;
}

/* Estilos de menu */
#mainMenu {
    background-color: #2c5e42;
    width: 100%;
    height: calc(10vh);
    margin: 0 auto;
    /* padding: 1%; */
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
  }

  .footer-icon {
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding: 5px;
  }

  .footer-icon small {
    display: block;
    font-size: 13px;
  }

  .footer-icon:hover {
    color: #88e0b5;
  }

  .horizontalMenu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .horizontalMenu > li {
    position: relative;
  }

  .horizontalMenu > li > a {
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 0;
    display: block;
    font-size: 14px;
    padding: 8px 12px;
    font-weight: 500;
    align-items: center;

  }

  .horizontalMenu > li:hover > a {
    color: #88e0b5;
    width: 100%;

  }

  .verticalMenu {
    display: none;
    position: absolute;
    bottom: 100%;
    background-color: var(--primary);
    padding: 0.3rem;
    list-style: none;
    min-width: 160px;
    border-radius: 4px;
  }

  .verticalMenu li a {
    display: block;
    padding: 0px;
    color: white;
    text-decoration: none;
    font-size: 13px;
  }

  .verticalMenu li a:hover {
    background-color: var(--primary);

  }

  .horizontalMenu > li:hover .verticalMenu {
    display: block;
    width: 100%;
  }

  .horizontalMenu > li.menu-open .verticalMenu {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
/* Estilos de botones */

/* Estilos de tablas */

/* Estilos de inputs */

/* Inhabilitar flechas de los inputs de tipo number, para chrome, safari, edge y opera */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* inhabilitar feclas a inputs de tipo number en Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Estilos generales del modulo de configuración = Es la estructura de los siguientes modulos: areas, tipoDocumento, marca,categoria,roles */
.contentLayout {
  width: 100%;
  height: 85vh;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: auto 1fr;
  gap: 1.5rem;
}

/* Estructura general del layout del formulario. */
.formLayout {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: 5vh 1fr;
  width: 100%;
}

/* Esta estructura menu corresponde al titulo  */
.menuTitle {
  width: 100%;
}

.btnSubmit{
  background-color: #6c757d;
  color: white;
  border: 1px;
  border-radius: 10px;
  width: auto;
  height: 20pt;
} 

/* Estilo a las tablas del modulo de configuración */
.tblConfigModules th,
.tblConfigModules td {
  padding: 0.20rem;
  border: 1px solid #ddd;
  text-align: left;
}

.tblConfigModules thead {
  background-color: #f2f2f2;
}

.tblConfigModules tr:nth-child(even) {
  background-color: #fafafa;
}

.tblConfigModules tr:hover {
  background-color: #f1f1f1;
}

/* esta clase corresponde a los titulos del modulo de configuración, se puede usar para los demás modulos */
.textTitleSpan{
  font-size: 20pt;
}
