/* 
Este documento contiene todos los estilos que se repiten sus componentes, como botones, Tablas, menus, entre otros.
*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/* Variables para los colores */
:root {
  --primary: #1e90ff;
  --secundary: #004034;
  --btnSubmit : rgba(128, 255, 0, 0.371);
  --btnInfo : green;
  --other: gray;
}

body{
  font-family: monospace;
}


.container{
  display: flex;
  height: calc(100vh - 100px);
  border: 1px solid black;
  width: 100%;
  padding: 1.5rem;
  /* El contenedor y todo lo que hay internamente va a tener un Máximo de 1200px de tamaño */
  max-width: 1200px;
  margin: 0 auto 12px;
  overflow-x: auto;
  margin-bottom: 0vh;
}

.container * {
  max-width: 100%;
  box-sizing: border-box;
}

/* Botón de cerrar */
.close-btn{
  border: none;
  text-decoration: none;
  font-size: 2rem;
}

/* Estilos del footer. */
#mainMenu {
  height: 10vh;
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;

  /* background-color: yellow; */

  /* Estilos del menú */
  .horizontalMenu {
    display: flex;
  }
  li {
      margin-left: 0.5rem;
      list-style: none;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      position: relative;
    }
  /* Etiquetas a del menu */
  .horizontalMenu > li > a {
    display: block;
    text-decoration: none;
  }

  .verticalMenu{
    position: absolute;
    bottom: 100%;
    display: none;
    list-style: none;
    text-decoration: none;
    width: 30vh;
  }

  .verticalMenu > li > a{
    text-decoration: none;
    list-style: none;
  }

  .horizontalMenu li:focus-within .verticalMenu {
    display: block;
  }

  .horizontalMenu li:hover .verticalMenu{
    display: block;
  }
}

/* Estilos de botones */

/* Estilos de tablas */

/* Estilos de inputs */


/* Estilos de los contenedores */

@media (min-width: 800px) and (max-width: 900px) {
  body {
    background-color: green;
  }
}
