.contentRolesFunciones {
  display: grid;
  width: 100%;
  grid-template-areas: "titleRolesRunciones"
    "selectRol"
    "tblRolesFunciones";
  height: fit-content;
}

.titleRolesFunciones {
  grid-area: titleRolesFunciones;
  display: flex;
  justify-content: space-between;
}

.selectRol {
  display: flex;
  align-items: left;
  grid-area: selectRol
}

/* div de la tabla */
.tblRolesFunciones {
  grid-area: tblRolesFunciones;
  width: 100%;
}