  #textTitle {
    font-size: 10pt;
  }

  .contentCreateUsuarios {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
    width: 100%;
    height: auto;

    .registrarUsuario {
      width: 100%;
      flex-wrap: nowrap;
      height: 80vh;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;

      #formCreateUser {
        display: grid;
        grid-template-areas: "tipoDocumento cedula"
          "rol nombres"
          "apellidos telefono"
          "password email"
          "direccion observaciones"
          "inputBtn inputBtn";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 0.3rem;
        width: 100%;
        height: 100%;

        .inputContent {
          width: 100%;
          height: 30px;
        }

        .tipoDocumento {
          grid-area: tipoDocumento;

          /* los items select les cambiamos el tamaño, esto solo aplica para materialize */
          .select-wrapper ul {
            height: 100px;
          }
        }

        .cedula {
          grid-area: cedula;
        }

        .rol {
          grid-area: rol;

          /* los items select les cambiamos el tamaño, esto solo aplica para materialize */
          .select-wrapper ul {
            height: 100px;
          }
        }

        .nombres {
          grid-area: nombres;
        }

        .apellidos {
          grid-area: apellidos;
        }

        .telefono {
          grid-area: telefono;
        }

        .password {
          grid-area: password;
        }

        .email {
          grid-area: email;
        }

        .direccion {
          grid-area: direccion;
        }

        .observaciones {
          grid-area: observaciones;
        }

        .inputBtn {
          grid-area: inputBtn;
          display: flex;
          align-items: center;
          justify-content: center;
        }

      }
    }
  }


  /* Tablets y pantallas medianas */
  @media (max-width: 768px) {}

  /* pantallas grandes  */
  @media (min-width: 1024px) {
    #textTitle {
      font-size: 20pt;
    }

    /* MODULO USUARIOS */
    .contentCreateUsuarios {
      display: grid;
      width: 100%;
      height: 80vh;
      grid-template-areas:
        "headerContent"
        "registrarUsuario";
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      gap: 0.3rem;


      .headerContent {
        grid-area: headerContent;
        width: 100%;
        height: fit-content;
      }

      .registrarUsuario {
        grid-area: registrarUsuario;
        width: 100%;
        height: auto;
        overflow: hidden;

        #formCreateUser {
          display: grid;
          width: 100%;
          grid-template-areas:
            "tipoDocumento cedula rol"
            "nombres apellidos telefono"
            "password email direccion"
            "observaciones observaciones observaciones"
            "inputBtn inputBtn inputBtn";
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: auto;
          gap: 1rem;
          height: fit-content;

          .inputContent {
            width: 100%;
            height: 60px;
          }

          .tipoDocumento {
            grid-area: tipoDocumento;

            .select-wrapper ul {
              height: fit-content;
            }
          }

          .cedula {
            grid-area: cedula;
          }

          .rol {
            grid-area: rol;

            /* los items select les cambiamos el tamaño, esto solo aplica para materialize */
            .select-wrapper ul {
              height: fit-content;
            }
          }

          .nombres {
            grid-area: nombres;
          }

          .apellidos {
            grid-area: apellidos;
          }

          .telefono {
            grid-area: telefono;
          }

          .password {
            grid-area: password;
          }

          .email {
            grid-area: email;
          }

          .direccion {
            grid-area: direccion;
          }

          .observaciones {
            grid-area: observaciones;
          }

          .inputBtn {
            grid-area: inputBtn;
            display: flex;
            align-items: center !important;
            justify-items: center !important;
            width: 100%;
            min-height: 1.3rem;
          }
        }
      }

    }
  }