#contenedorInputFiltro {
  display: none;
}

#textTitle {
  font-size: 8pt;
}

.closeModalBtn {
  border: none;
}

.contentUsuarios {
  width: 100%;
  height: auto;

  .filtroUsuarios {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    gap: 0.8rem;
    justify-content: center;
  }

  .tblUsuarios {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: fit-content;

    .tableUsers {
      width: 100%;
      height: 40vh;
    }
  }


}


/* MODAL Y FORMULARIO DE ACTUALIZACIÓN */

.modalContentEditarUsuario {
  background-color: var(--white);
  margin: auto;
  padding: 8px;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-areas:
    "titleSection"
    "formUpdateDataUser";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  .titleSection {
    align-items: center;
    grid-area: titleSection;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .closeModalBtn {
      font-size: 20pt;
    }
  }



  #formUpdateDataUser {
    grid-area: formUpdateDataUser;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}



#modalEditarUsuario {
  display: none;
}






/* responsive */
/* @media (max-width: 768px) {
  #formUpdateUser {
    grid-template-areas:
      "docum"
      "nombres"
      "apellidos"
      "email"
      "telefono"
      "direccion"
      "rol"
      "password"
      "btn-update";
    grid-template-columns: 1fr;
  }

  .modal-content-custom {
    width: 90%;
  }

  .table {
    overflow-x: auto;
  }

  #tableConfig {
    min-width: 600px;
  }


} */

/* escritorio en adelante */
@media (min-width: 1024px) {
  #textTitle {
    font-size: 20pt;
  }

  .contentUsuarios {
    display: grid;
    width: 100%;
    height: fit-content;
    grid-template-areas:
      "headerContent headerContent"
      "filtroUsuarios ."
      "tblUsuarios tblUsuarios";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 0.3rem;

    .headerContent {
      grid-area: headerContent;
    }

    .filtroUsuarios {
      grid-area: filtroUsuarios;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 0.3rem;
    }


    .tblUsuarios {
      grid-area: tblUsuarios;
      height: fit-content;

      #tableConfig {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ddd;

      }

      #tableConfig thead {
        background-color: #f2f2f2;
      }

      #tableConfig th,
      #tableConfig td {
        padding: 0.75rem;
        border: 1px solid #ddd;
        text-align: left;
      }

      #tableConfig tr:nth-child(even) {
        background-color: #fafafa;
      }

      #tableConfig tr:hover {
        background-color: #f1f1f1;
      }
    }

  }

  .modalContentEditarUsuario {

    margin: 10% auto;
    width: 50%;
    height: 60vh;
    overflow: auto;

    /* MODAL DE EDICION PARA PANTALLAS MAS GRANDES */
    #formUpdateDataUser {
      grid-area: formUpdateDataUser;

      /* display: grid; */
      grid-template-areas:
        "docum docum"
        "nombres apellidos"
        "email telefono"
        "direccion rol"
        "password password"
        "btn-update btn-update";
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;

      .docum {
        grid-area: docum;
      }

      .nombres {
        grid-area: nombres;
      }

      .apellidos {
        grid-area: apellidos;
      }

      .email {
        grid-area: email;
      }

      .telefono {
        grid-area: telefono;
      }

      .direccion {
        grid-area: direccion;
      }

      .password {
        grid-area: password;
      }

      .rol {
        grid-area: rol;
      }

      .btn-update {
        grid-area: btn-update;
        text-align: center;
      }
    }
  }


}