
/* Estructura General de todas las tablas.. */
.contentLayout {
    width: 100%;
    height: 85vh;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto 1fr;
    gap: 1.5rem;
}

/* Estructura general del layout del formulario. */
.formLayout{
  display: grid;
  gap: 0.3rem;
  grid-template-columns: 1fr;
  grid-template-rows: 5vh 1fr;
  width: 100%;
}

/* Esta estructura menu corresponde al titulo  */
.menuTitle{
  width: 100%;
}

/* ------- */
/* MODULO AREAS */
.contentArea {
  grid-template-areas:
    "titleArea titleArea"
    "formAr tblAreas";
}

.titleArea {
  grid-area: titleArea;
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.formAr {
  grid-area: formAr;
  width: 100%;
  height: 25vh;

}

#formArea {

  grid-template-areas: 
    "contentAreaNem"
    "contentDescript"
    "contentSubmit";

}

/* Acceder a los hijos el formulario */
#formArea > div:nth-child(1), #formArea > div:nth-child(2){
  display: flex;
  flex-direction: column;
}

#formArea > div:nth-child(3){
  text-align: center;
}

.contentAreaNem{
  grid-area: contentAreaNem;
}
.contentDescript{
  grid-area: contentDescript;

}

.contentDescript #descripcionArea{
  width: 100%;
  resize: none;
  height: 10rem;
}

.contentSubmit{
  grid-area: contentSubmit;
}

.tblAreas {
  grid-area: tblAreas;
}

#tableConfigMarca,#tableConfigArea, #tableConfigTp{
  width: 100%;
}

#btnAreaUpdate {
  width: 50%;
  text-align: center;
}

#modalArea {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  background-color: #ffffff;
  margin: 10% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: auto;
  display: grid;
  grid-template-areas:
    "titleSection"
    "formUpdate";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.titleSection {
  grid-area: titleSection;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formUpdate {
  grid-area: formUpdate;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.close {
  cursor: pointer;
}

/* ------ */
/* MODULO TIPO DOCUMENTO */
.contentTpDocumento {
  grid-template-areas:
    "titleTp titleTp"
    "formTpDocumento tableTpDocumento";
  border: 1px solid black;
}

.titleTp{
  grid-area: titleTp;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.formTpDocumento{
  grid-area: formTpDocumento;
  height: 25vh;
}
.tblTpDocumento{
  grid-area: tableTpDocumento;
}
#formTp{  
  grid-template-areas: 
  "tpSiglaContent"
  "tpDescripcion"
  "tpButton";
  
}

.tpSiglaContent{
  grid-area: tpSiglaContent;
}

.tpDescripcion{
  grid-area: tpDescripcion;
}
#descripcionTp{
  width: 100%;
  resize: none;
  height: 10rem;
}

.tpButton{
  grid-area: tpButton;
}

/* Acceder a los hijos el formulario */
#formTp > div:nth-child(1), #formTp > div:nth-child(2){
  display: flex;
  flex-direction: column;
}

#formTp > div:nth-child(3){
  text-align: center;
}

/* CAMBIAR LOS LA ESTRUCTURA GENERAL DEL MODAL. */
#modalTp {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content-tp {
  background-color: #fefefe;
  margin: 10% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: auto;
  /* Could be more or less, depending on screen size */
}

/* ---- */

/* MODULO MARCAS */

/* ---- */
.contentMarca{
  grid-template-areas: "titleMarca titleMarca"
  "formMarca tblMarca";
}

.titleMarca{
  grid-area: titleMarca;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.formMarca{
  grid-area: formMarca;
}

.tblMarca{
  grid-area: tblMarca;
}

#marcaForm{
grid-template-areas: "contentMarcaN"
"contentMarcaD"
"contentSubmitMa";
}

.contentMarcaN{
  grid-area: contentMarcaN;
}

.contentMarcaD{
  grid-area: contentMarcaD;
}

.contentSubmitMa{
  grid-area: contentSubmitMa;
}

#marcaForm > div:nth-child(1), #formTp > div:nth-child(2){
  display: flex;
  flex-direction: column;
}

/* Posición del botón */
#marcaForm > div:nth-child(3){
  text-align: center;
}

#descripcionMarca{
  width: 100%;
  resize: none;
  height: 10rem;
}

#btnMarca{
  width: 50%;
  text-align: center;
}

#modalMarca {
        display: none;
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    .modal-content {
        background-color: #fefefe;
        margin: 10% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        height: auto;
        /* Could be more or less, depending on screen size */
    }
