/* ARCHIVO QUE MUESTRA LA HOJA DE ESTILOS DE LA VISTA DE FUNCIONES ASOCIADAS AL ROL */

.contentRolesFunciones {
  display: grid;
  width: 100%;
  grid-template-areas:
    "breadCrumbs"
    "titleRolesRunciones"
    "selectRol"
    "tblRolesFunciones";
  height: fit-content;
}

.breadCrumbs {
  grid-area: breadCrumbs;
  width: 100%;
  height: 1.5rem;
}

.titleRolesFunciones {
  grid-area: titleRolesFunciones;
  display: flex;
  justify-content: space-between;
}

.selectRol {
  display: flex;
  align-items: left;
  grid-area: selectRol
}

/* div de la tabla */
.tblRolesFunciones {
  grid-area: tblRolesFunciones;
  width: 100%;
}