 .contentTpDocumento {
   grid-template-areas:
     "titleTp titleTp"
     "formTpDocumento tableTpDocumento";
 }

 .titleTp {
   grid-area: titleTp;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
 }

 .formTpDocumento {
   grid-area: formTpDocumento;
   height: 25vh;
 }

 .tblTpDocumento {
   grid-area: tableTpDocumento;
 }

 #formTp {
   grid-template-areas:
     "tpSiglaContent"
     "tpDescripcion"
     "tpButton";
 }

 .tpSiglaContent {
   grid-area: tpSiglaContent;
 }

 .tpDescripcion {
   grid-area: tpDescripcion;
 }

 #descripcionTp {
   width: 100%;
   resize: none;
   height: 10rem;
 }

 .tpButton {
   grid-area: tpButton;
 }

 /* Acceder a los hijos el formulario */
 #formTp>div:nth-child(2) {
   display: flex;
   flex-direction: column;
 }

 #formTp>div:nth-child(3) {
   text-align: center;
 }

 #tableBodyTp tr td:last-child {
   display: flex;
   flex-direction: row;
   gap: 0.5rem;
   justify-content: center;
 }

 /* CAMBIAR LOS LA ESTRUCTURA GENERAL DEL MODAL. */
 #modalTp {
   display: none;
   position: fixed;
   z-index: 100;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   /* Color de fondo */
   background-color: rgba(0, 0, 0, 0.4);
   justify-content: center;
   align-items: center;
 }

 .modal-content-tp {
   background-color: #ffffff;
   margin: 10% auto;
   /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 30%;
   height: fit-content;
   display: grid;
   grid-template-areas:
     "titleSection"
     "formUpdate";
   grid-template-columns: 1fr;
   grid-template-rows: auto 1fr;
 }

 #tpUpdateForm {
   display: grid;
   grid-template-areas:
     "contentTpSigla"
     "contentTpNombre"
     "contentTpBtn";
   grid-template-columns: 1fr;
   grid-template-rows: auto 1fr;
 }

 .contentTpSigla {
   grid-area: contentTpSigla;
   gap: 0.3rem;
 }

 .contentTpNombre {
   grid-area: contentTpNombre;
   gap: 0.3rem;
 }

 .contentTpBtn {
   grid-area: contentTpBtn;
 }

 #tpUpdateForm>div:nth-child(1),
 #tpUpdateForm>div:nth-child(2) {
   display: flex;
   flex-direction: column;
   justify-items: flex-start;
 }

 #tpUpdateForm>div:nth-child(3) {
   width: 100%;
   height: auto;
   text-align: center;
   /* Centrar el boton. */
 }